<!Doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
<title> Profile | <% user %> </title>
<link rel="stylesheet" type="text/css" href="../stylesheets/profile.css" media="screen" />
  </head>

<body>
<div name="container">
    <h1> Hello, <% user %> </h1>
  <div name= "PersonalInfo">
  </div>
  </div>
  </body>
</html>
